:root {
  --primary-bluenavy-color: #2e2f42;
  --primary-background-color: #fcfcfc;
  --primary-iris-color: #4d5ae5;
  --primary-slate-color: #434455;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-bluenavy-color);
  background-color: var(--primary-background-color);
}

span{
  color: var(--primary-navyblue-color);
}

span.footer-logo{
  color: #f4f4fd;
}

.logo-link {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.31;
}
.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}
.address-link {
  font-size: 16px;
  color: var(--primary-slate-color);
}

.button-order-service {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--primary-iris-color);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #f4f4fd;
  color: var(--primary-iris-color);
  border-radius: 4px;
  cursor: pointer;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: white;
}

h2.studio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

p {
  font-size: 16px;
  color: var(--primary-slate-color);
}

p.footer-text {
  color: #f4f4fd;
}
.button:hover,
.button:focus {
  background-color: var(--primary-iris-color);
  color: white;
}

.button:active {
  background-color: #404bbf;
  color: white;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-iris-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-iris-color);
}

.link:hover,
.link:focus {
  color: var(--primary-iris-color);
}
