/*GENERAL STYLE*/
:root {
  --primary-bluenavy-color: #2e2f42;
  --primary-background-color: #fcfcfc;
  --primary-iris-color: #4d5ae5;
  --primary-slate-color: #434455;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-bluenavy-color);
  background-color: var(--primary-background-color);
}
.section {
  padding: 120px 0px 120px 0px;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  margin: 0;
}

img.img-no-gap {
  display: block;
}
/*END GENERAL STYLE*/

/*HEADER*/
header {
  border-bottom: 1px solid #e7e9fc;
}

span.header-logo {
  color: var(--primary-bluenavy-color);
}
/*END HEADER*/

/*FOOTER*/
footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--primary-bluenavy-color);
}

.footer-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

p.footer-text {
  margin-top: 16px;
  color: #f4f4fd;
  width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

span.footer-logo {
  color: #f4f4fd;
}
/*END FOOTER*/

/*TOP LINE*/
.top-line-flex {
  display: flex;
  justify-content: space-between;
}

.logo-nav-flex {
  display: flex;
  justify-content: space-between;
}

.logo-link {
  display: block;
  font-family: "Releway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.31;
  letter-spacing: 0.03em;
  color: var(--primary-iris-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-menu-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: 76px;
}
.nav-link {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bluenavy-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-menu-flex {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.address-link {
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-slate-color);
  padding-top: 24px;
  padding-bottom: 24px;
}
/*END TOP LINE*/

/*STUDIO*/

section.hero {
  background-color: var(--primary-bluenavy-color);
  text-align: center;
  padding: 188px 0px 188px 0px;
}
h1.studio {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: white;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
}
.button-order-service {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-iris-color);
  color: #f4f4fd;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px 16px 32px;
  border: none;
}

.features-flex {
  display: flex;
  gap: 24px;
}
.li-width {
  width: calc((100% - 72px) / 4);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

section.goals {
  padding-bottom: 120px;
}
h2.studio {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}
.goals-flex {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

section.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-flex {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.team-player-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-player-info {
  background-color: white;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 30px 16px 30px 16px;
}
/*END STUDIO*/

/*PORTFOLIO*/
.button-filter-menu {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  color: var(--primary-iris-color);
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  font-family: inherit;
  padding: 12px 24px 12px 24px;
}

.filter-menu-flex {
  padding-top: 96px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.projects-cards-flex {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

h2.portfolio {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-card-img {
  display: block;
}

.project-card-info {
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 28px;
  padding-bottom: 28px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
/*END OF PORTFOLIO*/

/*HOOVER,FOCUS,ACTIVE*/
.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
  color: white;
}
.button-order-service:active {
  background-color: #404bbf;
  color: white;
}
.button-filter-menu:hover,
.button-filter-menu:focus {
  background-color: var(--primary-iris-color);
  color: white;
}
.button-filter-menu:active {
  background-color: #404bbf;
  color: white;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--primary-iris-color);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-iris-color);
}

.link:hover,
.link:focus {
  color: var(--primary-iris-color);
}
/*END OF HOVER,FOCUS,ACTIVE*/
